.editForm {
    padding: 0px, 50px, 50px, 50px;
    text-align: center;
    margin: 20px;
}


/* Label */
#outlined-textarea-label {
    font-family: 'Cormorant Garamond',
        serif !important;
    color: black;
}

#outlined-textarea {
    border-color: black !important;
    font-family: 'Cormorant Garamond',
        serif !important;
}