.map {
    font-family: 'Cormorant Garamond',
        serif;
}

body {
    font-family: 'Cormorant Garamond',
        serif;
    margin: 0px;
}

.popupImage {
    cursor: pointer;
}

#67EB94CA-4FA0-43C6-ABDE-EB7A8329C099 {
    font-family: 'Cormorant Garamond',
        serif !important;
}

.gm-style-mtc {
    font-family: 'Cormorant Garamond',
        serif !important;
    color: red;
}