.nav-title {
  font-size: 50px;
  color: #000000;
  padding-left: 10px;
  margin: 0;

}

.navLink {
  color: #000000;
  padding: 5px;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  outline: 0;
  font-family: 'Roboto', sans-serif;
  ;
}

/* .navLink:hover {
  background-color: #008183;
} */